/*Header*/

* {
    box-sizing: border-box;
    background: #456FA0;

}

html,
body,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    margin: 0px;
    padding-left: 0px;
    color: white;
}

.heading {

    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 10px;

}

.left {
    text-align: left;
}

.middle {
    text-align: center;
}

.right {
    text-align: right;
}

.clock {
    font-size: 2vw;
    padding-top: 10px;
    font-weight: bold;
}

/*Table*/

div .sort-by {
    padding-right: 18px;
    position: relative;
}

.sort-by:before,
.sort-by:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}

.sort-by:before {
    border-bottom-color: black;
    margin-top: -9px;
}

.sort-by:after {
    border-top-color: black;
    margin-top: 1px;
}

/*General Body*/

.wrapper {
    display: grid;

}

.wrapper2 {
    display: grid;
    justify-content: center;

}

.nested {
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: repeat(6, 1.5fr);
    font-size: 1.5vw;
    text-align: center;
    color: black;

}

.FADisplay {
    display: grid;
    align-content: center;
    grid-template-columns: auto;
    font-size: 1.5vw;
    text-align: center;
    color: black;
    justify-content: center;

    box-sizing: border-box;
    width: 500px;
    height: 125px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 0px;
    margin: 10px;
    line-height: 1.5;
    text-overflow: ellipsis;
    box-shadow: 5px 5px 10px black;
    background-color: red;
}

.nestedLog {
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: repeat(14, 1fr);
    font-size: 1vw;
    text-align: center;
    color: black;
}

.nested10 {
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    grid-template-columns: repeat(10, 1fr);
    font-size: 1vw;
    text-align: center;
    color: black;
}

.wrapper > div {
    background: #eee;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}

.nested > div {
    padding: 0.5em;
    background-color: inherit;
}

.nestedLog > div {
    padding: 0.5em;
    background-color: inherit;
}

.nested10 > div {
    padding: 0.5em;
    background-color: inherit;
}

.bold {
    font-weight: bold;

}

.flash {
    color: red;
}

.red {
    color: red;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

#notes {
    font-size: 1.5vw;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    grid-gap: 25px;
    justify-content: space-evenly;
}

.tableDisplay {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    width: 250px;
    height: 125px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 24px;

    text-align: center;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    text-overflow: ellipsis;
    box-shadow: 5px 5px 10px black;
    background-color: slategray;
}

.tableDisplay:active {
    background-color: darkblue;
}


/* Flash Patterns */

.V1 {

    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}

.V2 {}

.V3 {}

.B1 {}

.B2 {}

.B3 {}

.VB1 {}

.VB2 {}

.VB3 {}

.B1b3 {}


@keyframes flash {
    from {
        color: black;
    }

    to {
        color: white;
    }
}
